<div class="row">
    <div class="col s12 m8">
        <h3>
            <small>{{{editIcon batch.user user batch._id false}}}</small>
        </h3>
        <div class="card story">
            <div class="card-content">
                <span class="card-title">{{ batch.name }} - {{formatDate batch.createdAt 'MMMM Do YYYY, h:mm:ss a'}}</span>
                <hr />
                 <p><b>{{ i18n "Status"}} :</b> {{ i18n batch.stage }}</p>
                <p><b>{{ i18n "Count"}} :</b> {{ overview.numberEggs }}</p>
                <p><b>{{ i18n "AmountSpent"}} :</b>  {{ overview.spentAmount }}</p>
                <p><b>{{ i18n "RevenueAmount"}} : </b>{{ overview.revenueAmount }}</p>
                <p><b>{{ i18n "BalanceAmount"}} : </b>{{ overview.balance }}</p>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{batch.user.displayName}}</span>
                <img src="{{batch.user.image}}" class="circle responsive-img img-small">
            </div>
            <div class="card-action">
                <a href="{{ url "user" }}/{{batch.user._id}}">{{ i18n "MoreInfo"}} {{batch.user.firstName}}</a>
            </div>
        </div>
    </div>


</div>
<br />
<div class="row">
    {{#if entries}}
    <h5>{{ i18n "DetailsTitle" }}</h5>
    <table class="striped">
        <thead>
            <tr>
                <th class="col s12 m2">{{ i18n "BatchEntryTableHeaderType" }}</th>
                <th class="col s12 m2">{{ i18n "BatchEntryTableHeaderQuantity" }}</th>
                <th class="col s12 m2">{{ i18n "BatchEntryTableHeaderTotalPrice" }}</th>
                <th class="col s12 m2">{{ i18n "BatchEntryTableHeaderDate" }}</th>
                <th class="col s12 m4">{{ i18n "BatchEntryTableHeaderNote" }}</th>
            </tr>
        </thead>
        <tbody>
            {{#each entries}}
            <tr>
                <td class="col s12 m2">{{ type }}</td>
                <td class="col s12 m2">{{ quantity }}</td>
                <td class="col s12 m2">{{ totalPrice }}</td>
                <td class="col s12 m2">{{ formatDate entryDate 'MMMM Do YYYY' }}</td>
                <td class="col s12 m4">{{ note }}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <p>{{ i18n "noBatchEntryFound" }}</p>
    {{/if}}
</div>